
<div class="container">
    <div class="main-container">
        <h2>Expenses App</h2>
        <form action="/users" method="post">
            <div class="middle-container">
                <p for="firstname" class="name-label">Firstname: </p>
                <input type="text" class="name" placeholder="Enter Firstname" name="name" required>
            </div>
            <div class="middle-container">
                <p for="firstname" class="name-label">Lastname: </p>
                <input type="text" class="name" placeholder="Enter Lastname" name="lastname" required>
            </div>
            <div class="middle-container">
                <p for="email" class="name-label">Email: </p>
                <input type="text" class="name" placeholder="Enter Email" name="email" required>
            </div>
            <button class="register" type="submit"> Register </button>
        </form>
        <div class="theExpenses">
            <a href="/expenses">Show the Expenses</a>
        </div>
    </div>
</div>
