
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 60px 0;
    background-color: #ffffff;
}
.main_paragraph{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #323330;
    padding: 50px 80px;
    width: 500px;
    min-height: 360px;
    border-radius: 10px;
}
button.register{
    background-color: #40b78c;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    width: 100%;
    /* margin-left: 150px; */
} 
.submitBtn, .expenseBtn{
    background-color: #40b78c;
    color: white;
    padding: 14px 20px;
    margin: 8px 8px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    border-radius: 10px;
    /* width: 100%; */
}
.theExpenses{
    text-align: center;
    margin-top: 2%;
    font-size: 18px;
}
a{
    text-decoration: none;
    cursor: pointer;
    color: white;
}
a:hover{
    color: red;
}
.paragraph{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.details{
    color: gray;
    font-weight: bold;
    font-size: 20px;
}
.descript{
    color: gray;
    font-weight: bold;
    font-size: 20px;
}
input.name{
    border-bottom: 0.1px solid black;
    padding: 5px 10px;
    margin: 15px 0;
    margin-left: 10px;
    outline: 0.2px solid rgb(0, 0, 0);
    width: 180px;
}
.uniqueCode{
    color: gray;
    font-weight: bold;
    margin-right: 158px;
    font-size: 20px;
}
.description{
    border-bottom: 0.1px solid black;
    padding: 5px 10px;
    margin: 15px 0;
    margin-left: 15px;
    outline: 0.2px solid rgb(0, 0, 0);
    width: 203px;
    font-size: 16px;
}
button:hover{
    opacity: 0.8;
}
h2{
    text-align: center;
    color: white;
}
.success{
    font-size: 18px;
    color: green;
}
.error{
    font-size: 18px;
    color: red;
}
td, th{
    border: 1px solid;
    align-items: flex-end;
    height: 50%;
}
table{
    width: 35%;
    border-collapse: collapse;
    font-size: 20px;
    margin: 5px 5px 12px 5px;
}
.chooseExpense{
    margin-right: 65%;
    border-bottom: 0.1px solid black;
    padding: 4px 8px;
    /* margin: 15px 0; */
    outline: 0.2px solid rgb(0, 0, 0);
    width: 203px;
    font-size: 16px;
}